html{
    min-height: 100%;
    position: relative;
    
}

body{
    margin: 0;
    margin-bottom: 40px;
}

*{
font-family: 'Raleway', sans-serif;
padding: 0;
}


/*HEADER*/

.navbar-brand{
    margin-left: 9em
}

ul{
    margin-right: 9em;
}

.nav-item:hover{

    background: #303F9F;
}

.nav-item a:hover{
    color: white
}

/*MAIND*/

nav ul li a {
    color: #303F9F;
    font-size:1.1em;
}

#barraCita{
    background:#68b04c; 
    padding: 1.6em
}

#barraCita a {
    font-family: 'Raleway', sans-serif;
 color: white; 
 font-size:2em; 
 margin-left: 4em
}

#barraCita .btn{
    background-color: #303F9F;
    font-size: 1em;
    width: 10em;
    margin-right: 11em;
    color: #ffffff;
    }

 
video {
background-size: cover;
bottom: 0;
height: auto;
min-height: 50%;
min-width: 100%;
right: 0;
width: auto;
z-index: -100;
}

#beneficios{
    width: 100%;
  
}
#titulo{
    background:#68B04D; 
    padding: 1.6em;    
}
#titulo :hover{
       color: #303F9F;
}

#titulo h2{
    text-align: center;
    color: #ffffff;
}
/*
#pagHomeopatia{
   margin-left: 10em;
   margin-top: 3em;
   
}*/
#carousel
 {
      width: 25em;
      height: 30em;
      position: relative;
      perspective: 1100px;
      margin-top: 4em;
    }

#carousel img{
    width: 30em;
    height: 18em;
    margin-left: 5em;
}



#queEs p{
    text-align: justify;
margin: 5em

}

#quienSomos p{
text-align: justify;
margin: 2em;
padding-right: 18em;
padding-left: 8em;

}

#pagQuienS{
   margin-left: 18em;
   margin-top: 3em;
   
}
/*FOOTER*/

footer{
    background: #68b04c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
}


#Direccion p{
 font-family: 'Raleway', sans-serif;
 color: white; 
 font-size:0.9em; 
 float: left;
 margin-left: 10em;

}

#mapa{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#iconos{
   padding-left: 11em;
}